node_modules
yarn-error.log
lerna-debug.log
**/.yarn/cache
build
tsconfig.tsbuildinfo
tsconfig.esm.tsbuildinfo
tsconfig.cjs.tsbuildinfo
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
db/
media.json
.parcel-cache
.akala.json
wabt-*/
bun.lockb
.pm.config.json
.cache/apm/
.DS_Store

node_modules2/
