@use 'text-input.scss';
@use 'checkbox.scss';
@use 'radiobutton.scss';
@use '../colors.scss';
@use '../buttons.scss';

@mixin form($config, $colorScheme) {


    input,
    select,
    textarea {

        border-radius: var(--border-radius);
        padding: var(--gutter);
        --border-color: var(--grey);
        border-color: var(--border-color);
        background-color: var(--background-color);

        @if $colorScheme=='light' {
            --background-color: var(--light);
        }

        @else {
            --background-color: var(--dark);
        }

        transition: all ease-in-out 0.1s;
        @content;

        &:hover:enabled,
        &.hovered:enabled {
            --border-color: var(--interact);
        }

        &::placeholder {
            color: var(--placeholder);
        }

        &:disabled {
            --background-color: var(--disabled-lighter);
            --border-color: var(--disabled-lighter);
            --color: var(--disabled-max-contrast);

            &::placeholder {
                color: var(--disabled);
            }
        }

        &:focus-visible {
            outline: none;
            --border-color: var(--interact);
        }

        color: var(--color);
        border: 1px solid var(--border-color);
    }

    @include checkbox.checkbox($config, $colorScheme);
    @include radiobutton.radio($colorScheme);

    input[type="reset"] {
        @include buttons.buttons(interact, $config, false, $colorScheme);
    }

    input[type="submit"] {
        @include buttons.buttons(interact, $config, true, $colorScheme);
    }
}