.button-borderless {}

.button {
    composes: interactive from './interactive.module.css' akala-button from global;

    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    gap: var(--local-gutter-y) var(--local-gutter-x);
    align-items: center;

    &.borderless:not(.disabled, :disabled),
    &.borderless.primary:not(.disabled, :disabled) {
        border: none;
        outline: none;
        composes: button-borderless;

        &:hover {}
    }
}

.button-filled {
    composes: button akala-button from global akala-button-filled from global;

    --active-background-color: var(--active-color);
    --focused-background-color: var(--focused-color);
    --hover-background-color: var(--hover-color);

    --standard-item-background-color: var(--control-accent-color);
    --standard-item-text-color: hsl(from var(--standard-item-background-color) h s calc(50 - ((round(down, round(up, (l - 50) / 50) + 1 / 2) - 0.5) * 2) * 50));

    --active-background-color: var(--active-color);
    --active-text-color: hsl(from var(--active-color) h s calc(50 - ((round(down, round(up, (l - 50) / 50) + 1 / 2) - 0.5) * 2) * 50));

    --focused-background-color: var(--focused-color);
    --focused-text-color: hsl(from var(--focused-color) h s calc(50 - ((round(down, round(up, (l - 50) / 50) + 1 / 2) - 0.5) * 2) * 50));

    --hover-background-color: var(--hover-color);
    --hover-text-color: hsl(from var(--hover-color) h s calc(50 - ((round(down, round(up, (l - 50) / 50) + 1 / 2) - 0.5) * 2) * 50));

    --disabled-background-color: var(--disabled-color);
    --disabled-text-color: hsl(from var(--disabled-color) h 0 calc(50 - ((round(down, round(up, (l - 50) / 50) + 1 / 2) - 0.5) * 2) * 30));
}


.button-outlined {
    composes: button akala-button from global akala-button-outlined from global;
    --standard-item-background-color: var(--control-background-color);
    --standard-item-border-color: var(--control-accent-color);
    --standard-item-text-color: hsl(from var(--standard-item-background-color) h s calc(50 - ((round(down, round(up, (l - 50) / 50) + 1 / 2) - 0.5) * 2) * 50));
    --standard-item-outline-type: solid;
    --standard-item-outline-width: 1px;
    --standard-item-outline-color: var(--control-accent-color);

    --active-outline-color: var(--active-color);
    --active-text-color: hsl(from var(--window-background-color) h s calc(50 - ((round(down, round(up, (l - 50) / 50) + 1 / 2) - 0.5) * 2) * 50));

    --focused-outline-color: var(--focused-color);
    --focused-text-color: hsl(from var(--window-background-color) h s calc(50 - ((round(down, round(up, (l - 50) / 50) + 1 / 2) - 0.5) * 2) * 50));

    --hover-outline-color: var(--hover-color);
    --hover-text-color: var(--control-accent-color);

    --disabled-outline-color: var(--disabled-color);
    --disabled-text-color: var(--disabled-control-text-color);
}


.button-link {
    composes: button akala-button from global akala-button-link from global;
    --standard-item-background-color: transparent;
    --standard-item-border-color: transparent;
    --standard-item-text-color: var(--control-accent-color);

    --active-text-color: hsl(from var(--active-color) h s calc(50 - ((round(down, round(up, (l - 50) / 50) + 1 / 2) - 0.5) * 2) * 50));

    --hover-text-decoration: underline;

    --focused-text-color: hsl(from var(--focused-color) h s calc(50 - ((round(down, round(up, (l - 50) / 50) + 1 / 2) - 0.5) * 2) * 50));

    --disabled-text-color: var(--disabled-control-text-color);

    --standard-item-text-decoration: none;
    --standard-item-outline-type: none;
    --standard-item-border-style: none;
}

.split-button {
    border-radius: var(--button-border-radius, var(--border-radius));
    display: flex;
    flex-direction: row;

    gap: 0 !important;

    >* {
        border-radius: 0 !important;
        align-items: center;
    }

    >:first-child {
        border-top-left-radius: inherit !important;
        border-bottom-left-radius: inherit !important;
    }

    >:last-child {
        border-top-right-radius: inherit !important;
        border-bottom-right-radius: inherit !important;
    }

    &.vertical {
        >:first-child {
            border-radius: 0 !important;
            border-top-left-radius: inherit !important;
            border-top-right-radius: inherit !important;
        }

        >:last-child {
            border-radius: 0 !important;
            border-bottom-left-radius: inherit !important;
            border-bottom-right-radius: inherit !important;
        }
    }
}
