:root {
    --card-border-radius: calc(var(--border-radius)/2);
}

.card {
    composes: interactive from './interactive.module.css';

    --standard-item-border-color: var(--separator-color);
    --item-border-style: solid;
    --item-border-width: 1px;

    --item-border-radius: var(--card-border-radius);
    padding: var(--local-gutter-x) var(--local-gutter-x);

    &>header {
        margin: calc(var(--local-gutter-y) * -1) calc(var(--local-gutter-x) * -1);

        &:not(:last-child) {
            margin-bottom: 0;
        }

        padding: var(--local-gutter-y) var(--local-gutter-x);
        box-shadow: none;

        &+* {
            margin-top: var(--local-gutter-y);
        }
    }

    &>footer {
        margin: calc(var(--local-gutter-y) * -1) calc(var(--local-gutter-x) * -1);
        margin-top: 0;
        padding: var(--local-gutter-y) var(--local-gutter-x);
    }

    &.actionable {
        --standard-item-box-shadow: 0 0.188rem 0.75rem 0 var(--shadow-color);

        --hover-box-shadow: 0 0.188rem 0.75rem 0 var(--current-control-tint);
    }

    &.disabled,
    &:disabled {
        --border-color: var(--disabled-lighter);
        color: var(--disabled-contrast);
    }
}