:root {
    --card-border-radius: calc(var(--border-radius)/2);
}

.card {
    composes: interactive from './interactive.module.css';

    --standard-item-border-color: var(--separator-color);
    --item-border-style: solid;
    --item-border-width: 1px;

    --item-border-radius: var(--card-border-radius);
    padding: var(--gutter-y) var(--gutter-x);

    &>header {
        margin: calc(var(--gutter-y) * -1) calc(var(--gutter-x) * -1);
        margin-bottom: 0;
        padding: var(--gutter-y) var(--gutter-x);

        &+* {
            margin-top: var(--gutter-y);
        }
    }

    &>footer {
        margin: calc(var(--gutter-y) * -1) calc(var(--gutter-x) * -1);
        margin-top: 0;
        padding: var(--gutter-y) var(--gutter-x);
    }

    &.actionable {
        --standard-item-box-shadow: 0 0.188rem 0.75rem 0 rgb(from var(--black) r g b / 0.15);

        @media screen and (prefers-color-scheme:dark) {
            --standard-item-box-shadow: 0 0.188rem 0.75rem 0 rgb(from var(--black) r g b / 0.55);
        }

        --hover-box-shadow: 0 0.188rem 0.75rem 0 var(--current-control-tint);
    }

    &.disabled,
    &:disabled {
        --border-color: var(--disabled-lighter);
        color: var(--disabled-contrast);
    }
}