a {
    color: var(--control-accent-color);
    text-decoration: none;

    &:visited,
    &:hover,
    &.visited,
    &.hovered {
        color: var(--control-accent-color);
        text-decoration: underline;
    }

    &:active,
    &.clicked {
        color: hsl(from var(--control-accent-color) h s calc(50 - ((round(down, round(up, (l - 50) / 50) + 1 / 2) - 0.5) * 2) * 50));
    }
}