menu {
    composes: menu;
}

.menu {
    margin: 0;
    padding: 0;
    border: 1px solid var(--separator-color);
    border-radius: var(--border-radius);
    --shadow-color: rgb(from var(--control-accent-color) r g b / 0.15);
    --shadow: 0 .188rem .75rem 0 var(--shadow-color);
    box-shadow: var(--shadow);
    list-style: none;

    &::slotted {
        width: 100%;
    }

    >li {
        background-color: var(--control-background-color);

        --standard-item-text-color: var(--control-text-color);
        --item-border-radius: 0;

        padding: var(--local-gutter-y) calc(var(--local-gutter-x)*2);

        &:first-child {
            border-top-right-radius: var(--border-radius);
            border-top-left-radius: var(--border-radius);

            &>a:only-child {
                border-top-right-radius: inherit;
                border-top-left-radius: inherit;
            }

        }

        &:last-child {
            border-bottom-right-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);

            &>a:only-child {
                border-bottom-right-radius: inherit;
                border-bottom-left-radius: inherit;
            }
        }

        &:has(>a:only-child) {
            padding: 0;
        }


        &.selected>a:only-child {
            composes: item-active from './interactive.module.css';
        }

        >a:only-child {
            padding: var(--local-gutter-y) calc(var(--local-gutter-x)*2);
            text-decoration: none;
            width: 100%;
            height: 100%;

            --standard-item-background-color: var(--control-background-color);

            @media screen and (prefers-color-scheme:light) {
                --hover-background-color: hsl(from var(--control-accent-color) h s calc(50 - ((round(down, round(up, (l - 50) / 50) + 1 / 2) - 0.5) * 2) * 45));
            }

            @media screen and (prefers-color-scheme:dark) {
                --hover-background-color: var(--control-accent-color);

            }

            --hover-text-color: hsl(from var(--hover-background-color) h s calc(50 - ((round(down, round(up, (l - 50) / 50) + 1 / 2) - 0.5) * 2) * 50));

            --standard-item-text-color: var(--control-text-color);
            --active-background-color: var(--active-color);

            &>i:first-child {
                width: 20px;
            }

            mark {
                background-color: inherit !important;
                font-weight: bold;
                text-decoration: underline;
                padding: 0;
            }
        }

        &[aria-activedescendant="true"]>a:only-child {
            composes: item-hovered from './interactive.module.css';
        }

        &>hr:only-child {
            margin-left: -1em;
            margin-right: -1em;
        }

        &.disabled,
        &:disabled,
        &.disabled>a,
        &:disabled>a {
            cursor: not-allowed;
        }
    }
}