.semantic-color {
    --control-text-color: hsl(from var(--current-accent-color, var(--control-accent-color)) h s calc(10 + (l * 0.4)));

    @media screen and (prefers-color-scheme:light) {
        --current-control-tint: hsl(from var(--current-accent-color, var(--control-accent-color)) h s calc(70 + (l * 0.3)));
        --shadow-color: hsl(from var(--current-accent-color, var(--control-accent-color)) h s calc(70 + (l * 0.3)));
    }

    @media screen and (prefers-color-scheme:dark) {
        --current-control-tint: hsl(from var(--current-accent-color, var(--control-accent-color)) h s calc((l * 0.3)));
        --shadow-color: hsl(from var(--current-accent-color, var(--control-accent-color)) h s calc((l * 0.3)));
    }
}

.danger {
    --control-accent-color: var(--system-red);
    composes: semantic-color;
}

.warning {
    --control-accent-color: var(--system-yellow);
    composes: semantic-color;
}

.success {
    --control-accent-color: var(--system-green);
    composes: semantic-color;
}

.info {
    --control-accent-color: var(--system-blue);
    composes: semantic-color;
}


.pastel {
    --desaturate-ratio: .5;
    --current-accent-color: hsl(from var(--control-accent-color) h calc(s*var(--desaturate-ratio)) calc(90 + (l * 0.1)));
}

.text {
    composes: semantic-color;

    color: var(--control-text-color);
}

.bg {
    background-color: var(--control-accent-color);
    color: hsl(from var(--control-accent-color) h s calc(50 - ((round(down, round(up, (l - 50) / 50) + 1 / 2) - 0.5) * 2) * 50));
}

.text-bg {
    composes: semantic-color;

    color: var(--control-text-color);
    background-color: var(--current-control-tint);
}

table,
:host(.table) {

    tr.danger,
    tr.success,
    tr.info,
    tr.warning {

        @media screen and (prefers-color-scheme:light) {
            --desaturate-ratio: .4;
            --current-control-tint: hsl(from var(--current-accent-color, var(--control-accent-color)) h s calc(70 + (l * 0.1))) !important;
            --current-control-tint-striped: hsl(from var(--current-accent-color, var(--control-accent-color)) h s calc(75 + (l * 0.1))) !important;
        }

        @media screen and (prefers-color-scheme:dark) {
            --desaturate-ratio: .2;
            --current-control-tint: hsl(from var(--current-accent-color, var(--control-accent-color)) h s calc(20 + (l * 0.1))) !important;
            --current-control-tint-striped: hsl(from var(--current-accent-color, var(--control-accent-color)) h s calc(10 + (l * 0.1))) !important;
        }

        --text-color: hsl(from var(--current-control-tint) h s calc(50 - ((round(down, round(up, (l - 50) / 50) + 1 / 2) - 0.5) * 2) * 50));
        --text-color-striped: hsl(from var(--current-control-tint-striped) h s calc(50 - ((round(down, round(up, (l - 50) / 50) + 1 / 2) - 0.5) * 2) * 50));


        td,
        th {
            background-color: var(--current-control-tint) !important;
            color: var(--text-color) !important;
        }

        &.striped {

            td,
            th {
                background-color: var(--current-control-tint-striped) !important;
                color: var(--text-color-striped) !important;
            }
        }
    }

    &.danger,
    &.success,
    &.info,
    &.warning,
    &:host(.danger),
    &:host(.success),
    &:host(.info),
    &:host(.warning) {

        td,
        th {

            @media screen and (prefers-color-scheme:light) {
                --desaturate-ratio: .4;
                --current-control-tint: hsl(from var(--current-accent-color, var(--control-accent-color)) h s calc(70 + (l * 0.1))) !important;
                --current-control-tint-striped: hsl(from var(--current-accent-color, var(--control-accent-color)) h s calc(75 + (l * 0.1))) !important;
            }

            @media screen and (prefers-color-scheme:dark) {
                --desaturate-ratio: .2;
                --current-control-tint: hsl(from var(--current-accent-color, var(--control-accent-color)) h s calc(20 + (l * 0.1))) !important;
                --current-control-tint-striped: hsl(from var(--current-accent-color, var(--control-accent-color)) h s calc(10 + (l * 0.1))) !important;
            }

            --text-color: hsl(from var(--current-control-tint) h s calc(50 - ((round(down, round(up, (l - 50) / 50) + 1 / 2) - 0.5) * 2) * 50));
            --text-color-striped: hsl(from var(--current-control-tint-striped) h s calc(50 - ((round(down, round(up, (l - 50) / 50) + 1 / 2) - 0.5) * 2) * 50));


            background-color: var(--current-control-tint);
            color: var(--text-color);
        }

        &.striped,
        &:host(.striped) {

            tbody>tr:nth-child(2n+1)>td,
            tbody>tr:nth-child(2n+1)>th {
                background-color: var(--current-control-tint-striped);
                color: var(--text-color-striped);
            }
        }
    }
}