    table,
    .table {

        th {
            font-weight: bold;
            text-align: left;
        }

        th,
        td {
            padding: calc(var(--gutter-y)/2) calc(var(--gutter-x)/2);
        }

        thead>tr,
        tfoot>tr {
            background: var(--background-color);
        }

        &.striped {
            tbody>tr:nth-child(2n) {
                --background-color: light-dark(var(--grey-extra-light), var(--grey-extra-dark));
            }
        }
    }