@import "reset.css";
@import "colors.css";
/* @import 'hyperlinks.css'; */
@import "layout.css";
@import 'form/form.css';
@import 'menus.css';
@import 'dialogs.css';
@import 'chips.css';
@import 'cards.css';
/* @import 'flex-grid.css'; */
@import 'table.css';
/* @import-tokens '../default-theme.tokens.json'; */

:root {
    --gutter-x: var(--gutter);
    --gutter-y: calc(var(--gutter)/2);
}

@media screen and (--breakpoints-xs) {
    .flex-xs {
        composes: d-flex from './layout.css';

        flex-direction: column;

        >* {
            flex-basis: auto;
        }
    }
}

@media screen and (--breakpoints-sm) {
    .flex-sm {
        composes: d-flex from './layout.css';
        flex-direction: column;

        >* {
            flex-basis: auto;
        }
    }
}

@media screen and (--breakpoints-md) {
    .flex-md {
        composes: d-flex from './layout.css';
        flex-direction: column;

        >* {
            flex-basis: auto;
        }
    }
}

@media screen and (--breakpoints-lg) {
    .flex-lg {
        composes: d-flex from './layout.css';
        flex-direction: column;

        >* {
            flex-basis: auto;
        }
    }
}

@media screen and (--breakpoints-xl) {
    .flex-xl {
        composes: d-flex from './layout.css';
        flex-direction: column;

        >* {
            flex-basis: auto;
        }
    }
}

@media screen and (--breakpoints-xxl) {
    .flex-xxl {
        composes: d-flex from './layout.css';
        flex-direction: column;

        >* {
            flex-basis: auto;
        }
    }
}

@media screen and (--breakpoints-kkkk) {
    .flex-kkkk {
        composes: d-flex from './layout.css';
        flex-direction: column;

        >* {
            flex-basis: auto;
        }
    }
}

@media screen and (--breakpoints-fullhd) {
    .flex-fullhd {
        composes: d-flex from './layout.css';
        flex-direction: column;

        >* {
            flex-basis: auto;
        }
    }
}

@media screen and (--breakpoints-hd) {
    .flex-hd {
        composes: d-flex from './layout.css';
        flex-direction: column;

        >* {
            flex-basis: auto;
        }
    }
}

@media screen and (--breakpoints-dvd) {
    .flex-dvd {
        composes: d-flex from './layout.css';
        flex-direction: column;

        >* {
            flex-basis: auto;
        }
    }
}

@media screen and (--breakpoints-mobile-s) {
    .flex-mobile-s {
        composes: d-flex from './layout.css';
        flex-direction: column;

        >* {
            flex-basis: auto;
        }
    }
}

@media screen and (--breakpoints-mobile-m) {
    .flex-mobile-m {
        composes: d-flex from './layout.css';
        flex-direction: column;

        >* {
            flex-basis: auto;
        }
    }
}

@media screen and (--breakpoints-mobile-l) {
    .flex-mobile-l {
        composes: d-flex from './layout.css';
        flex-direction: column;

        >* {
            flex-basis: auto;
        }
    }
}

@media screen and (--breakpoints-tablet) {
    .flex-tablet {
        composes: d-flex from './layout.css';
        flex-direction: column;

        >* {
            flex-basis: auto;
        }
    }
}

@media screen and (--breakpoints-laptop) {
    .flex-laptop {
        composes: d-flex from './layout.css';
        flex-direction: column;

        >* {
            flex-basis: auto;
        }
    }
}

@media screen and (--breakpoints-laptop-l) {
    .flex-laptop-l {
        composes: d-flex from './layout.css';
        flex-direction: column;

        >* {
            flex-basis: auto;
        }
    }
}


/* 
@mixin init($config) {


    @if(not map.has-key($config, 'colors', 'grey')) {
        $grey: color.mix(map.get($config, 'colors', 'dark'), map.get($config, 'colors', 'light'));
        $config: map.set($config, 'colors', 'grey', $grey);
    }

    $config: map.set($config, lightnesses, 'light', ("": 0));
    $config: map.set($config, lightnesses, 'dark', ("": 0));


    $config: colors.computeAllVariants($config);

    $config: map.set($config, allColors, light, ("": true, "max-contrast":dark));
    $config: map.set($config, allColors, dark, ("": true, "max-contrast":light));

    @include colors.colors($config);

    @include flex-grid.grid($config, 12);

    @content($config);
} */
/* 
@media screen and (max-width:dtcg('breakpoints.md')) {
    :global(.akala-button) {
        padding: var(--gutter);
        height: 48px;
    }
} */


:root,
::backdrop,
input::-webkit-calendar-picker-indicator {
    --border-radius: 8px;
    --gutter: 16px;
    color-scheme: light dark;
    /* 
    @if $colorScheme=='light' {
        --shadow-color: rgba(from var(--gray) r g b 0.09);
        --disabled: var(--gray-light);
        --disabled-darker: hsl(from var(--gray) h s);
        @include colors.colorPalette('disabled', 'grey-light', $config);
    }

    @else {
        --shadow-color: rgba(from var(--gray-dark) r g b 0.39);
        @include colors.colorPalette('disabled', 'grey-extra-dark', $config);

    } */

    --shadow: 0 0.188rem 0.75rem 0 var(--shadow-color);
}

.akala-button {
    padding: var(--gutter-y) var(--gutter-x);

    @media screen and (--breakpoints-md) {
        height: 48px;
    }
}

.button,
button,
a.button,
input[type="button"],
input[type="reset"],
button[type="button"],
button[type="reset"],
input::-webkit-file-upload-button,
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    composes: button-outlined from './buttons.module.css';
    composes: akala-button;
}

.button.primary,
button.primary,
a.button.primary,
input[type="submit"],
button[type="submit"] {
    composes: button-filled from './buttons.module.css';
    composes: akala-button;
}


.button.blue.filled,
button.blue.filled {
    composes: button-filled from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-blue);
}

.button.red.filled,
button.red.filled {
    composes: button-filled from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-red);
}

.button.green.filled,
button.green.filled {
    composes: button-filled from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-green);
}

.button.yellow.filled,
button.yellow.filled {
    composes: button-filled from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-yellow);
}

.button.orange.filled,
button.orange.filled {
    composes: button-filled from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-orange);
}

.button.pink.filled,
button.pink.filled {
    composes: button-filled from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-pink);
}

.button.purple.filled,
button.purple.filled {
    composes: button-filled from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-purple);
}

.button.teal.filled,
button.teal.filled {
    composes: button-filled from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-teal);
}

.button.indigo.filled,
button.indigo.filled {
    composes: button-filled from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-indigo);
}


.button.blue.outlined,
button.blue.outlined {
    composes: button-outlined from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-blue);
}

.button.red.outlined,
button.red.outlined {
    composes: button-outlined from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-red);
}

.button.green.outlined,
button.green.outlined {
    composes: button-outlined from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-green);
}

.button.yellow.outlined,
button.yellow.outlined {
    composes: button-outlined from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-yellow);
}

.button.orange.outlined,
button.orange.outlined {
    composes: button-outlined from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-orange);
}

.button.pink.outlined,
button.pink.outlined {
    composes: button-outlined from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-pink);
}

.button.purple.outlined,
button.purple.outlined {
    composes: button-outlined from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-purple);
}

.button.teal.outlined,
button.teal.outlined {
    composes: button-outlined from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-teal);
}

.button.indigo.outlined,
button.indigo.outlined {
    composes: button-outlined from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-indigo);
}

a[href],
button.link {
    composes: button-link from './buttons.module.css';
    composes: akala-button;
}

a[href].blue,
.button.blue.link,
button.blue.link {
    composes: button-link from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-blue);
}

a[href].red,
.button.red.link,
button.red.link {
    composes: button-link from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-red);
}

a[href].green,
.button.green.link,
button.green.link {
    composes: button-link from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-green);
}

a[href].yellow,
.button.yellow.link,
button.yellow.link {
    composes: button-link from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-yellow);
}

a[href].orange,
.button.orange.link,
button.orange.link {
    composes: button-link from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-orange);
}

a[href].pink,
.button.pink.link,
button.pink.link {
    composes: button-link from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-pink);
}

a[href].purple,
.button.purple.link,
button.purple.link {
    composes: button-link from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-purple);
}

a[href].teal,
.button.teal.link,
button.teal.link {
    composes: button-link from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-teal);
}

a[href].indigo,
.button.indigo.link,
button.indigo.link {
    composes: button-link from './buttons.module.css';
    composes: akala-button;
    --control-accent-color: var(--system-indigo);
}

input:not([type="button"], [type="submit"], [type="reset"]) {
    composes: form-control from './form/form.css'
}