@use 'sass:map';
@use 'sass:color';
@use '../scss/theme.scss';

// @include theme.theme((accent: #00acf5, secondAccent: #89fc00, success: #89fc00, error: #dc0073, warning: #f5b700, 'black': #1F1E1C, 'white': #FFFFFD), (default:(medium:30%, light:70%, extra-light:80%)));

@include theme.fixedMaxWidth(1024px);


:root {
    --border-radius: 10px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .bg-colored-gradient {
        background: var(--colored-gradient);
    }

    .bg-grey-gradient {
        background: var(--grey-gradient);
    }
}

dialog {
    margin: var(--gutter);
}

.wrap {
    flex-wrap: wrap;
}

table {
    th[scope="row"] {
        font-style: italic;
    }
}

header {
    padding: 0 var(--gutter);
}

footer {
    padding: var(--gutter);
}

$config: (
    colors:(accent: #00acf5, secondAccent: #89fc00, success: #89fc00, error: #dc0073, warning: #f5b700, 'dark': #1F1E1C, 'light': #FFFFFD),
    lightnesses:(default:(extra-dark:-90%, dark:-70%, medium-dark:-30%, medium-light:30%, light:70%, extra-light:90%),
        grey:(dark: -80%, light:70%, extra-light:90%)),
    darknesses:(default:(dark: 80%, medium:-30%, light:-70%, extra-light:-90%),
        grey:(dark: 80%, light:-70%, extra-light:-90%))
);

@include theme.init($config) using ($config) {

    @include theme.theme($config, $colorScheme: 'light') using ($config, $colorScheme) {

        :root {
            $accentLightAlpha: map.get($config, colors, accent-extra-light);
            $secondAccentLightAlpha: map.get($config, colors, secondAccent-extra-light);

            --colored-gradient: linear-gradient(149deg, #{$accentLightAlpha} 0%, #{$secondAccentLightAlpha} 100%);

            --grey-gradient: linear-gradient(-5deg, var(--grey-light) 0%, var(--light) 100%);

            --body-background-color: #{color.scale(map.get($config, colors, light), $lightness: 20%)};
            --body-color: black;
        }

        body {
            background-color: var(--body-background-color);
            color: var(--body-color);
        }
    }

    @include theme.darkmodesupport() {

        @include theme.theme($config, $colorScheme: 'dark') using ($config, $colorScheme) {
            :root {

                $accentLightAlpha: map.get($config, colors, accent-dark);
                $secondAccentLightAlpha: map.get($config, colors, secondAccent-dark);

                --colored-gradient: linear-gradient(149deg, #{$accentLightAlpha} 0%, #{$secondAccentLightAlpha} 100%);

                --grey-gradient: linear-gradient(355deg, var(--dark) 0%, var(--grey-dark) 100%);

                --body-background-color: #{color.scale(map.get($config, colors, dark), $lightness: -20%)};
                --body-color: var(--light);

                background-color: var(--body-background-color);
                color: var(--body-color);
            }
        }
    }
}