a {
    color: var(--accent);
    text-decoration: none;

    &:visited,
    &:hover,
    &.visited,
    &.hovered {
        color: var(--accent);
        text-decoration: underline;
    }

    &:active,
    &.clicked {
        color: var(--accent-light);
    }
}